version: '3.3'

services:
  ros2:
    build:
      context: ./ros2_ws
      dockerfile: Dockerfile
      args:
        USERNAME: cecilia
    container_name: ros2_service
    environment:
      - ROS_DOMAIN_ID=42
      - DISPLAY=unix:0
      - ROS_AUTOMATIC_DISCOVERY_RANGE=LOCALHOST
      - FASTRTPS_DEFAULT_PROFILES_FILE=/home/${USERNAME}/ws/fastdds.xml
    networks:
      ros2_network:
        aliases:
          - ros2_service
    volumes:
      - ./ros2_ws:/home/cecilia/ws
      - /dev:/dev
    devices:
      - "/dev/ttyACM0:/dev/ttyACM0"  # Add this line to allow access to the specific serial device
      - "/dev/input/js0:/dev/input/js0"  # Add this line to allow access to the specific serial device
    tty: true
    command: /bin/bash
    labels:
      - "com.docker.compose.devcontainer:1"
    user: cecilia
    stdin_open: true
    privileged: true

  teleop:
    build:
      context: ./teleop
      dockerfile: Dockerfile
    container_name: teleop_service
    depends_on:
      - ros2
    ports:
      - "8765:8765"
      - "8443:8443"
    networks:
      ros2_network:
        aliases:
          - teleop_service
    volumes:
      - ./teleop/supervisord.conf:/etc/supervisor/conf.d/supervisord.conf
    devices:
      - "/dev/video4:/dev/video4" 
    environment:
      - ROS_DOMAIN_ID=42
      - PYTHONUNBUFFERED=1
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
      - GST_PLUGIN_PATH=/opt/app/ros2_ws/install/gst_bridge/lib/gst_bridge
    privileged: true

networks:
  ros2_network:
    driver: bridge
