version: '3.3'

services:
  ros2:
    build:
      context: ./ros2_ws
      dockerfile: Dockerfile
      args:
        USERNAME: cecilia
    container_name: ros2_service
    environment:
      - ROS_DOMAIN_ID=42
      - DISPLAY=unix:0
      - ROS_AUTOMATIC_DISCOVERY_RANGE=LOCALHOST
      - FASTRTPS_DEFAULT_PROFILES_FILE=/home/${USERNAME}/ws/fastdds.xml
    networks:
      ros2_network:
        aliases:
          - ros2_service
    volumes:
      - ./ros2_ws:/home/cecilia/ws
      - /dev:/dev
    devices:
      - "/dev/ttyACM0:/dev/ttyACM0"
      - "/dev/input/js0:/dev/input/js0"
      - "/dev/video0:/dev/video0"
      - "/dev/video1:/dev/video1"
      - "/dev/video2:/dev/video2"
      - "/dev/video3:/dev/video3"
      - "/dev/video4:/dev/video4"
      - "/dev/video5:/dev/video5"
      - "/dev/video6:/dev/video6"
      - "/dev/video7:/dev/video7"
      - "/dev/video8:/dev/video8"
      - "/dev/video9:/dev/video9"
      - "/dev/video10:/dev/video10"
    tty: true
    command: /bin/bash
    labels:
      - "com.docker.compose.devcontainer:1"
    user: cecilia
    stdin_open: true
    privileged: true

  teleop:
    build:
      context: ./teleop
      dockerfile: Dockerfile
    container_name: teleop_service
    depends_on:
      - ros2
    ports:
      - "8765:8765"
      - "8443:8443"
    networks:
      ros2_network:
        aliases:
          - teleop_service
    volumes:
      # -  /home/cecilia/intuitive_motion/robot/teleop:/opt/app/
      - ./teleop/supervisord.conf:/etc/supervisor/conf.d/supervisord.conf
    devices:
      - "/dev/video10:/dev/video10" 
    environment:
      - ROS_DOMAIN_ID=42
      - PYTHONUNBUFFERED=1
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
      - GST_PLUGIN_PATH=/opt/app/ros2_ws/install/gst_bridge/lib/gst_bridge
    privileged: true

networks:
  ros2_network:
    driver: bridge
