version: '3.3'

services:
  ros2:
    build:
      context: ./ros2_ws
      dockerfile: Dockerfile
      args:
        USERNAME: cecilia
    container_name: ros2_service
    environment:
      - ROS_DOMAIN_ID=42
      - DISPLAY=unix:0
    networks:
      - ros2_network
    volumes:
      - ./ros2_ws:/home/cecilia/ws
      # - /tmp/.X11-unix:/tmp/.X11-unix:rw
      # - /dev/dri:/dev/dri:rw
    tty: true
    command: /bin/bash
    labels:
      - "com.docker.compose.devcontainer:1"
    user: cecilia
    stdin_open: true
    privileged: true
    # ports:
    #   - "11311:11311"

  teleop:
    build:
      context: ./teleop
      dockerfile: Dockerfile
    container_name: teleop_service
    ports:
      - "8765:8765"
      - "8443:8443"
    networks:
      - ros2_network
    volumes:
      - ./teleop/supervisord.conf:/etc/supervisor/conf.d/supervisord.conf
    devices:
      # this is the device referenced by gstreamer to access the camera. 
      # Change /dev/video0 to be any usb port used by the camera for the arm
      - "/dev/video4:/dev/video4" 
    environment:
      - PYTHONUNBUFFERED=1
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
    privileged: true

networks:
  ros2_network:
    driver: bridge
