curl
gstreamer1.0-tools
gstreamer1.0-plugins-base
gstreamer1.0-plugins-good
gstreamer1.0-plugins-bad
gstreamer1.0-plugins-ugly
gstreamer1.0-libav
gstreamer1.0-alsa
gstreamer1.0-pulseaudio
python3-gi
python3-gi-cairo
gir1.2-gstreamer-1.0
gir1.2-gst-plugins-base-1.0

# Required for pycairo
# https://stackoverflow.com/questions/70508775/error-could-not-build-wheels-for-pycairo-which-is-required-to-install-pyprojec
libcairo2-dev
pkg-config
python3-dev

supervisor

nodejs
npm

