version: '3.3'

services:
  teleop:
    build: .
    container_name: teleop
    ports:
      - "8765:8765"
      - "8443:8443"
    networks:
      - ros2_network
    volumes:
      - ./supervisord.conf:/etc/supervisor/conf.d/supervisord.conf
    devices:
      # this is the device referenced by gstreamer to access the camera. 
      # Change /dev/video0 to be any usb port used by the camera for the arm
      - "/dev/video0:/dev/video0"
      - "/dev/video1:/dev/video1"
    environment:
      - PYTHONUNBUFFERED=1
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
      - CAMERA_MODE=v4l2
      - CAMERA_PRIMARY_DEVICE=/dev/video0
      - CAMERA_NUM_STREAMS=1
    privileged: true

networks:
  ros2_network:
    driver: bridge