version: '3.3'

services:
  teleop:
    build: .
    container_name: teleop
    ports:
      - "8765:8765"
      - "8443:8443"
    volumes:
      - ./supervisord.conf:/etc/supervisor/conf.d/supervisord.conf
    devices:
      # this is the device referenced by gstreamer to access the camera. 
      # Change /dev/video8 to be any usb port used by the camera for the arm
      - "/dev/video8:/dev/video8" 
    environment:
      - PYTHONUNBUFFERED=1
    privileged: true
