version: '3.3'

services:
  teleop:
    build: .
    container_name: teleop
    ports:
      - "8765:8765"
      - "8443:8443"
    networks:
      - ros2_network
    volumes:
      - ./supervisord.conf:/etc/supervisor/conf.d/supervisord.conf
    devices:
      # this is the device referenced by gstreamer to access the camera. 
      # Change /dev/video0 to be any usb port used by the camera for the arm
      - "/dev/video4:/dev/video4" 
    environment:
      - PYTHONUNBUFFERED=1
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
    privileged: true

networks:
  ros2_network:
    driver: bridge